@using DapperDino.Models.FaqViewModels
@model DapperDino.Areas.Admin.Models.Products.IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12"><a style="margin-bottom:15px;" class="btn btn-primary pull-right" href="~/Admin/Product/Add">Add</a></div> <!-- TODO Add class for buttons -->
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Short Description</th>
                        <th>Price</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>
                            @product.Name
                        </td>
                        <td>
                            @product.ShortDescription
                        </td>
                        <td>
                            @product.Price
                        </td>
                        <td>@(product.IsActive ? "Yes" : "No")</td>
                        <td>
                            <a href="@Url.Action("Get", "Product", new { id = product.Id})">Edit</a>&nbsp;&nbsp;
                            <a href="@Url.Action("Delete", "Product", new { id = product.Id})">Delete</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>

@section Scripts
    {

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pagingType": "full_numbers"
            });
        });
    </script>
}
