@using DapperDino.Models.FaqViewModels
@model DapperDino.Models.FaqViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="features" class="features faq-cards">
    <div class="container">
        <div class="row">

            @{
                var i = 0;
                foreach (var faq in Model.FrequentlyAskedQuestions)
                {
                    i++;
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@faq.Question</h5>
                                <p class="card-text">@faq.Answer</p>
                                @if (faq.ResourceLink != null && !string.IsNullOrEmpty(faq.ResourceLink.Link))
                                {
                                    <a href="@faq.ResourceLink.Link" class="btn btn-primary">@faq.ResourceLink.DisplayName</a>
                                }
                            </div>
                        </div>
                    </div>
                    if (i % 3 == 0)
                    {
                        @Html.Raw("</div>")
                        @Html.Raw("<div class='row'>")
                    }
                    else if (i == Model.FrequentlyAskedQuestions.Count)
                    {
                        @Html.Raw("</div>")
                    }
                }
            }
        </div>
    </div>
</section>