@*@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model DapperDino.Areas.HappyToHelp.Models.HomeViewModel

<section id="features" class="features">
    <div class="container" style="margin-bottom:20px;">
        <div class="row">
            <div class="col-md-12">
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h4>Orders</h4>

                <div class="form-group">
                    <label>Orders: @Model.AmountOfOrders</label>
                </div>

                <div class="form-group">
                    <label>Paid orders: @Model.AmountOfPaidOrders</label>
                </div>

                <div class="form-group">
                    <label>Shop income: $@Model.ShopIncome</label>
                </div>


                <a href="/Admin/Products">Show overview of orders</a>
            </div>

            <div class="col-md-3">
                <h4>Products</h4>

                <div class="form-group">
                    <label>Products: @Model.AmountOfProducts</label>
                </div>

                <div class="form-group">
                    <label>Active products: @Model.AmountOfActiveProducts</label>
                </div>

                <div class="form-group">
                    <label>Inactive products: @Model.AmountOfInactiveProducts</label>
                </div>


                <a href="/Admin/Products">Show overview of products</a>
            </div>
            <div class="col-md-3">
                <h4>Tickets</h4>

                <div class="form-group">
                    <label>Tickets: @Model.AmountOfTickets</label>
                </div>

                <div class="form-group">
                    <label>Open tickets: @Model.AmountOfOpenTickets</label>
                </div>

                <div class="form-group">
                    <label>Closed tickets: @Model.AmountOfClosedTickets</label>
                </div>


                <a href="/HappyToHelp/Tickets">Show overview of tickets</a>
            </div>

            <div class="col-md-3">
                <h4>Suggestions</h4>

                <div class="form-group">
                    <label>Suggegestions: @Model.AmountOfSuggestions</label>
                </div>

                <div class="form-group">
                    <label>Handled suggegestions: @Model.AmountOfHandledSuggestions</label>
                </div>

                <div class="form-group">
                    <label>Not looked at suggegestions: @Model.AmountOfNotLookedAtSuggestions</label>
                </div>


                <a href="/HappyToHelp/Suggestions">Show overview of suggestions</a>
            </div>

        </div>




    </div>

</section>*@