@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model DapperDino.Areas.Admin.Models.HomeViewModel

<section id="features" class="features">
    <div class="container" style="margin-bottom:20px;">
        <div class="row">
            <div class="col-md-12">
                <h2>Admin portal</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h4>Orders</h4>

                <div id="order-chart">
                    
                </div>


                <a href="/Admin/Products">Show overview of orders</a>
            </div>

            <div class="col-md-3">
                <h4>Products</h4>

                <div id="product-chart">

                </div>

                <div class="form-group">
                    <label>Total: @Model.AmountOfProducts</label>
                </div>


                <a href="/Admin/Products">Show overview of products</a>
            </div>
            @*<div class="col-md-3">
                <h4>Tickets</h4>

                <div class="form-group">
                    <label>Tickets: @Model.AmountOfTickets</label>
                </div>

                <div class="form-group">
                    <label>Open tickets: @Model.AmountOfOpenTickets</label>
                </div>

                <div class="form-group">
                    <label>Closed tickets: @Model.AmountOfClosedTickets</label>
                </div>


                <a href="/HappyToHelp/Tickets">Show overview of tickets</a>
            </div>

            <div class="col-md-3">
                <h4>Suggestions</h4>

                <div class="form-group">
                    <label>Suggegestions: @Model.AmountOfSuggestions</label>
                </div>

                <div class="form-group">
                    <label>Handled suggegestions: @Model.AmountOfHandledSuggestions</label>
                </div>

                <div class="form-group">
                    <label>Not looked at suggegestions: @Model.AmountOfNotLookedAtSuggestions</label>
                </div>


                <a href="/HappyToHelp/Suggestions">Show overview of suggestions</a>
            </div>*@

        </div>




    </div>

</section>

@section Scripts {
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Define the chart to be drawn.
      var orderData = new google.visualization.DataTable();
      orderData.addColumn('string', 'Status');
      orderData.addColumn('number', 'Amount');
      orderData.addRows([
        ['Paid', @Model.AmountOfPaidOrders],
        ['Other', @(Model.AmountOfOrders - Model.AmountOfPaidOrders)]
      ]);



      // Instantiate and draw the chart.
      var orderChart = new google.visualization.PieChart(document.getElementById('order-chart'));
        orderChart.draw(orderData, null);


         // Define the chart to be drawn.
      var productData = new google.visualization.DataTable();
      productData.addColumn('string', 'Status');
      productData.addColumn('number', 'Amount');
      productData.addRows([
          ['Active', @Model.AmountOfActiveProducts],
          ['Inactive', @Model.AmountOfInactiveProducts]
      ]);



      // Instantiate and draw the chart.
      var productChat = new google.visualization.PieChart(document.getElementById('product-chart'));
      productChat.draw(productData, null);
    }
        </script>
    </head>
    <body>
        <!-- Identify where the chart should be drawn. -->
        <div id="myPieChart" />
    </body>
}