@using DapperDino.Models.FaqViewModels
@model DapperDino.Models.FaqViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HappyToHelp/Views/Shared/_Layout.cshtml";
}
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Link</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                @foreach (var faq in Model.FrequentlyAskedQuestions)
                {
                    <tr>
                        <td>
                            @faq.Question
                        </td>
                        <td>
                            @faq.Answer
                        </td>
                        <td>
                            <a href="@faq.ResourceLink.Link">@faq.ResourceLink.DisplayName</a>
                        </td>
                        <td>
                            <a href="~/Admin/Faq/Edit/@faq.Id">Edit</a>&nbsp;&nbsp;
                            <a href="@Url.Action("Delete", "Faq", new { id = faq.Id})">Delete</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>

@section Scripts
    {

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pagingType": "full_numbers"
            });
        });
    </script>
}
